.form-signin {
    width: 80%;
    max-width: 330px;
    padding: 10px;
    margin: 3em auto;
  }
  
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 1;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow .3s ease;
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 40px 0 0;
    font-size: 14px;
    letter-spacing: 0.2px;
}


.nothing__main-content {
  align-items: center;
  background-color: #5C62C5;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

 
}

.nothing__main-content p {
  text-align: center;
}

.App-logo{
    width: 100px;
    height: 100px;
    }
    
    body {
      background-color: #0F0E17;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
  .input1{
    background-color: white;
    width: 100%;
    margin: 0.5em;
    color: black;
    border-radius: 0.5em;
  }
  .btnLogin{
    background-color: dodgerblue;
    color:white;
    border-radius: 0.5em;
    justify-content: center;
    margin: 1em 0.5em;
    width: 40%;
  }
 .carContainer{
   display: flex;
   margin: auto;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }
 .card{
   margin: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor:pointer;
  }
#calificación{
  position: absolute;
  left: 0%;
  top:0;
  border-top: 1px solid #FED941;
  border-right: 1px solid #FED941;
  border-bottom: 1px solid #FED941;

  border-radius: 0.8em;
  padding: 0.25em;
  padding-right: 0.8em;
  padding-left: 1em; 
}
#tituloPeliculas{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 58px;
margin: 48px 0px;
}